body {
    font-family: Arial;
    margin: 0;
    background-image: url("./../images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: rgb(226, 204, 9);
}
  
.header {
    font-family: 'Tangerine', serif;
    height: 140px;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.747);
    font-size: 50px;
}

#header-text {
    margin-top: 25px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.747);
    text-align: center;
    border-top: 1px solid rgb(88, 80, 8);
}

#footer-text {
    text-align: center;
}

#nav {
    text-align: center;
    height: 50px;
    background: rgba(0, 0, 0, 0.747);
    border-bottom: 1px solid rgb(88, 80, 8);
}

#main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color:rgba(0, 0, 0, 0.747);
    padding: 20px;
    border: 1px solid rgb(88, 80, 8);
}

button {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(226, 204, 9);
    padding: 14px 16px;
    background-color: rgba(0, 0, 0, 0);
    font-family: inherit;
    margin: 0;
}

button:hover, .clicked {
    border-bottom: 2px solid rgb(226, 204, 9);
}

#home-title, #menu-title, #about-title, #home-paragraph {
    text-align: center;
}

#home-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 80%;
    margin-top: 10px;
    margin-bottom: 40px;
}

#about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 1%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.menu-image {
    width: 270px;
    padding: 30px;
}

.menu-text {
    margin-left: 30%;
    margin-top: -5%;
}

#menu {
    margin-left: 50px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, auto);
}